.heading{
    display: flex;
    justify-content: center;
    background-color: #4B5945;
    color: white;
    font-family: sans-serif;
    position: relative;
}
.heading h1{
    font-size: 15px;
    padding-top: 3px;
}
.navcontainer{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
}

.buttons{
    padding-top: 10px;
    display: flex;
    column-gap: 20px;
}
.btn1{
    color: #D7B26D;
    background-color: #4B5945;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
}

.btn1:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn2{
    padding: 10px;
    color: #171717;
}

.btn2:hover{
    color: #474747;
    text-shadow: 1px 1px 10px black;
    transition: all 0.3s ease-in-out;
}

.logo{
    display: flex;
    justify-content: center;
}

.carouselcontainer{
    height: 50%;
    width: 50%;
    margin: auto;
}

.sec1{
    background-color: #4B5945;
    padding: 50px;
}

.search{
    display: flex;
    justify-content: center;
}

#input{
    padding: 10px 20px;
    width: 900px;
    border-radius: 15px;
    text-align: left;
    border: 1px solid transparent;
    background-color: #4B5945;
    color: white;
}

.ordered{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containermain2{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    background: url(imgs/card1.jpeg);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: #171717;
    border: 1px solid #171717;
    border-radius: 15px;
}

.card1 p{
    margin-top: 110px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-weight: 700;
    font-family: sans-serif;
}

.card1 h1{
    font-size: 20px;
}

.card2{
    background: url(imgs/card2.jpg);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: #171717;
    border: 1px solid #171717;
    border-radius: 15px;
}

.card2 h1{
    font-size: 25px;
    padding-top: 1px;
}

.card2 p{
    margin-top: 105px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-weight: 700;
    font-family: sans-serif;
}

.button{
    margin-top: 5px;
    width: 70px;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
    background-color: #2973B2;
    color: white;
    border: 1px solid transparent;
    font-weight: bolder;
    font-size: 17px;
}

.button:hover{
    background-color: white;
    color: #2973B2;
    transition: all 0.3s ease-in-out;
}

.card3{
    background: url(imgs/card3.jpeg);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: #171717;
    border: 1px solid #171717;
    border-radius: 15px;
}

.card3 p{
    margin-top: 90px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-weight: 700;
    font-family: sans-serif;
}

.card4{
    background: url(imgs/card4.jpeg);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: #171717;
    border: 1px solid #171717;
    border-radius: 15px;
}

.card4 p{
    margin-top: 90px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-weight: 700;
    font-family: sans-serif;
}

.bannercontainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.banner{
    border-radius: 15px;
}

.dealscontainer{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.paragraph{
    font-size: 13px;
    padding: 25px;
    text-align: center;
}

footer{
    background-color: #171717;
    padding: 50px;
}

.footercon{
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.stores{
    width: 190px;
}

.facebook{
    background-color: white;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
}

.lina{
    color: white;
}
.lina:hover{
    color: whitesmoke;
    text-shadow: 1px 1px 10px red;
}